# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
examples/auth/node_modules
examples/users/node_modules
examples/companies/node_modules

# misc
.idea
.DS_Store
module.iml
user.sh

npm-debug.log*